*{
    padding: 0%;
    margin: 0%;
    font-family: 'poppies',sans-serif;
    box-sizing: border-box;
}
body{
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vw;


}
.container{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background: white;
    display: grid;
    grid-template-columns:2fr 1fr ;
    box-shadow: 0 35px 55px rgba(rgba(0, 0, 0, 0.881));

}
.container .leftside {
position: relative;
background: white;
padding: 40px;

}
.container .rightside {
    position: relative;
    background:lightseagreen;
    padding: 40px;
    
    }
.textpro{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    color: rgb(1, 1, 36);
    border-bottom: 1px solid rgb(8, 8, 8);
}
.image{
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;

}
.textpro h1{
    font-size:35px ;
    margin-top: 20px;
    text-align: center;
}
.textpro span{
    font-size: 28px;
    color: black;
    
}
.textpro h1{
    margin-top: 20px;
    
}
.contact{
    padding-top:40px ;
   
}
.title h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    padding-bottom:20px ;

}
.contact ul{
    position: relative;
}
.contact ul li{
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}
.contact ul li .icon{
    display: inline-block;
    width: 30px;
    color: rgb(1, 1, 36);
}
.contact .text{
  
    text-align: justify;

}
.profile{
    padding: 10px;
    border-bottom: 1px solid black;
}
.profile h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 28px;
    padding: 20px;
}
.profile p{
    padding-bottom: 20px;
}
.skills{
    padding: 30px;
}
.skill_title h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 28px;
    padding: 20px;
}
.skills ul{
    position: relative;
}
.skills li{
    margin: 10px 0 ;
}
/* projects */
.projects{
    padding: 10px;
    border-bottom: 1px solid black;
}
.title-pro h1 {
    text-transform: uppercase;
    padding-bottom:10px ;
    width: 100%;
    height: 50px;

}
.project .box{
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}
.box .year{
    min-width: 150px;

}
.year h2{
    text-transform: uppercase;
    color: rgb(3, 3, 73);
    padding-bottom: 10px;
    
}
.year h3{
    text-transform: uppercase;
    color: rgb(3, 3, 73);
    padding-bottom: 10px;
    font-size:15px ;
    font-family: vm toli;
}
.box p{
    text-align: justify;
    padding-bottom: 15px;
    line-height: 23px;
}
.edu{
    padding: 10px;
    border-bottom: 1px solid black;
}
.title-edu h1{
    text-transform: uppercase;
    margin:20px 0 ;
    width: 100%;
    height: 50px;

}
.list{
    margin-bottom: 10px;
    list-style: none;
    
}

li h3{
    font-size:15px ;
    color: rgb(3, 46, 47);
    margin-bottom:10px ;
}
li h4{
    color: rgb(49, 50, 50);
    font-size: 14px;
}
.inter{
    padding: 10px;
    border-bottom: 1px solid black;

}
.title-int h1 {
    text-transform: uppercase;
    margin:20px 0;
    width: 100%;
    height: 50px;
}
.para{
    font-family: sans-serif;
    line-height:25px ;
}
p span{
    font-size: 14px;
    color: rgb(2, 42, 44);
}
.skills2 ul{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.skills2 h2{
    margin: 10px 0;
    font-size: 17px;
}
.head h1{

    text-transform: uppercase;
    margin:20px 0 ;
    width: 100%;
    height: 50px;

}
.certi li{
    list-style: none;
    margin: 10px 0;
}
.task{
    margin: 10px 0 ;
    color: rgb(3, 32, 32);

}

